/* ====================================== *\
  Bootstrap Overrides
\* ====================================== */

a {
  color: #1A94E0;

  &:hover {
    color: #1883c5;
  }
}

.text-primary {
  color: #1A94E0 !important;
}

/* ====================================== *\
  Bootstrap Add Ons
\* ====================================== */


.bg-dark {
  background-color: #0d0d0e !important;
}

.btn-black {
  color:white;
  background-color: #222222;

  &:hover {
    color: white;
  }
}

.ml-6,
.mx-6 {
  margin-left: 4.25rem !important; 
}

.mr-6 {
  margin-right: 4.25rem !important;
}

.ml-7,
.mx-7 {
  margin-left: 4.5rem !important; 
}

.mr-7 {
  margin-right: 4.5rem !important; 
}